{% extends 'base.html.twig' %}

{% block body %}
    <div class="background__about"></div>
    <div class="container flex--about">
        <div class="business--presentation">
            <h3>ENTREPRISES</h3>
            <p class="paragraph paragraph--about">Nous accompagnons les dirigeants pour offrir des services adaptés à la taille de votre entreprise et à votre organisation.</p>
            <p class="paragraph paragraph--about">HUMANS FIRST intervient principalement dans les Hauts de France et dans toute la France Métropolitaine.</p>  
            <p class="paragraph paragraph--about">Recrutement de vos profils pénuriques ? Mise en œuvre d’un projet de formation ? Besoin d’avoir le conseil avisé d’un expert sur une thématique RH spécifique ?</p> 
            <p class="paragraph paragraph--about">Nous vous vous proposons une offre sur mesure au regard de vos projets et de votre stratégie. </p>

            <div class="business--icon">
                <div class="icon--target">
                    <img class="icon_png" src="{{ asset('build/target.png') }}" width="50" height="50">
                    <p class="presentation--links">Recrutement</p>
                    <a href="{{ path('business') }}">En savoir plus</a>
                </div>

                <div class="icon--rating">
                    <img class="icon_png" src="{{ asset('build/rating.svg') }}" width="50" height="50">
                    <p class="presentation--links">Expertise RH</p>
                    <a href="{{ path('business') }}">En savoir plus</a>
                </div>

            </div>

        </div>
        <div class="candidate--presentation">
            <h3>CANDIDATS</h3>
            <p class="paragraph paragraph--about">Nous accompagnons les candidats dans leur projet à toutes les étapes de leur vie professionnelle.</p>
            <p class="paragraph paragraph--about">Vous recherchez un emploi ? Vous êtes en quête de sens ou souhaitez faire un point dans votre carrière ? </p>
            <p class="paragraph paragraph--about">HUMANS FIRST vous propose un accompagnement personnalisé en s’appuyant sur des outils adaptés à vos besoins (bilan de compétences, coaching…) et dans le respect de nos valeurs : écoute, bienveillance, confidentialité.</p>
            <div class="icon--handshake">
                <img class="icon_png" src="{{ asset('build/handshake.png') }}" width="50" height="50">
                <p class="presentation--links">Accompagnement</p>
                <a href="{{ path('personn') }}">En savoir plus</a>
            </div>
        </div>
    </div>

    <div class="presentation">
        <div class="presentation--right">
            <img class="presentation--picture"src="{{ asset('build/Didier-Queste-HumansFirst.jpg') }}" alt="Didier Queste">
            <h3 class="presentation--title">Didier Queste</h3>
            <p class="presentation--role">Dirigeant - Consultant RH <br /></p>
            <p class="presentation--paragraph">Didier à créé en 2020 le cabinet HUMANS FIRST après vingt ans d’expérience professionnelle dans les ressources humaines, sur des postes de Responsable Recrutement et de Responsable RH au sein de groupes de taille internationale.</p>
        </div>
        <div class="presentation--left">
            <h3>NOS VALEURS</h3>
            <ul class="value--list">
                <li>"Human first"</li>
                <li>Business Partner</li>
                <li>Engagement  </li>
                <li>Proximité</li>
                <li>Ecoute</li>
                <li>Bienveillance</li>
                <li>Confidentialité</li>
            </ul>
        </div>
        
    </div>
{% endblock %}
