{% extends 'base.html.twig' %}

{% block body %}
<div class="container search__logo"><img class="icon_png" src="{{ asset('build/searching.svg') }}" width="70" height="70"></div>
<h2><strong>Toutes nos offres d'emplois</strong></h2>

<div class="container spontaneous__candidacy">
    <p class="spontaneous__candidacy--text">Vous souhaitez deposer une canditature spontanée ? </p>
    <a class="contact--button" href="{{ path('spontaneous_candidacy_new') }}"> C'est par ici !</a>
</div>
{% for offer in offers %}
    {% if offer.isActive is defined and offer.isActive == true %}
        <div class="offer container">
            <h4> <a class="offer__link--show" href=" {{ path('offer_show', {'id': offer.id, 'slug': offer.slug}) }} ">{{ offer.title }}</a></h4>
            {{ offer.excerpt |raw }}
            <p class="metadata"> {{ offer.publicationDate | date('d/m/Y') }} </p>
            <hr>
        </div>
    {% endif %}
{% endfor %}

<div class="pagination">
    {{ knp_pagination_render(offers) }}
</div>


{% endblock %}