{% extends 'base.html.twig' %}

{% block body %}
<div class="mt-1 mb-3 ml-3">
    <a style="font-size: 2rem; color: #2F4F4F; text-decoration:none" href="{{ path('offers') }} ">
        <i class="far fa-arrow-alt-circle-left"></i>
    </a>
</div>
<h2> {{ offer.title }} </h2>
    <div class="Container offer--show">
        <div>
            <h3 class="offer--element">Date de publication</h3>
            <p class="offer--text">{{ offer.publicationDate ? offer.publicationDate|date('d / m / Y') : '' }}</p>
        </div>
        <div>
            <h3 class="offer--element">Réfèrence</h3>
            <p class="offer--text">{{ offer.reference }}</p>
        </div>
        <div>
            <h3 class="offer--element">Intitulé du poste</h3>
            <p class="offer--text">{{ offer.title }}</p>
        </div>
        <div>
            <h3 class="offer--element">Description</h3>
            <p class="offer--text">{{ offer.description }}</p>
        </div>
        <div>
            <h3 class="offer--element">Profil recherché</h3>
            <p class="offer--text">{{ offer.profile }}</p>
        </div>
        <div>
            <h3 class="offer--element">Localisation</h3>
            <p class="offer--text">{{ offer.location }}</p>
        </div>
        <div>
            <h3 class="offer--element">Poste à pourvoir</h3>
            <p class="offer--text">{{ offer.vacantPosition }}</p>
        </div>
        <div>
            <h3 class="offer--element">Expérience</h3>
            <p class="offer--text">{{ offer.experience }}</p>
        </div>
        <div>
            <h3 class="offer--element">Statut</h3>
            <p class="offer--text">{{ offer.status }}</p>
        </div>
        <div>
            <h3 class="offer--element">Date de démarage</h3>
            <p class="offer--text">{{ offer.dateStart }}</p>
        </div>
        <div>
            <h3 class="offer--element">Type de contrat</h3>
            <p class="offer--text">{{ offer.contractType }}</p>
        </div>
        <div>
            <h3 class="offer--element">Temps de travail hebdomadaire</h3>
            <p class="offer--text">{{ offer.weeklyWorkTime }}</p>
        </div>
        <div>
            <h3 class="offer--element">Rémuneration</h3>
            <p class="offer--text">{{ offer.remuneration }}</p>
        </div>
        <div>
            <h3 class="offer--element">Information complémentaires</h3>
            <p class="offer--text">{{ offer.furtherInformation }}</p>
        </div>
        <div class="button__box--candidate">
            <a class ="candidate--button" href="{{ path('candidate_new') }} ">Postuler</a>
        </div>
        
    </div>
{% endblock %}

